<div id="top">
    <div class="topc">
        <span class="welcome">您好，欢迎来101兄弟团购供货平台！</span>
        <span class="right">
            <a href="/">101兄弟首页</a>　|　<a href="vipinbox">短消息<span style="font-weight:bold;color:#f00"></span></a>　|　<a href="vipindex">管理中心</a> |　<a href="index?action=logout">退出</a> 
        </span>
    </div>
</div>
<div id="box">
    <div id="header">
        <div class="logo"><a title="101团购供货平台" target="_self" href="/"><img src="images/logo.gif" width="200" height="83" /></a></div>
        <div class="lt">会员管理中心</div>
        <div class="rt"><a href="/product_893.html"><img src="images/bspic_1.gif" width="710" height="82" /></a></div>
        <div class="clear"></div>
    </div>
