<div id="member">
        <div class="t">&nbsp;</div>
        <div class="c">
            <div class="hd">
                <div class="wt"></div>
                <div class="et">
                    <span><input type="button" name="" value="注册会员" onclick='location.href="register";' /></span>
                </div>
            </div>
            <div class="fd">
                <div class="channel">
                    <div class="channel_t"><span>渠道商会员</span><span class="more"></span></div>
                  <div class="channel_c"><a href="login?action=fabu" target='_blank'>想要供货给这些渠道商？</a></div>
                    <div class="channel_f">
                        
                        <p><a href='vipsection?id=426'><img src="images/pic_3.gif" width="127" height="62" /></a></p>
                        <p><a href='vipsection?id=421'><img src="images/pic_10.gif" width="127" height="62" /></a></p>
                        <p><a href='vipsection?id=424'><img src="images/pic_11.gif" width="127" height="62" /></a></p>
                        <p><a href='vipsection?id=423'><img src="images/pic_12.gif" width="127" height="62" /></a></p>
                        <p><a href='vipsection?id=425'><img src="images/pic_16.gif" width="127" height="62" /></a></p>
                        <p><a href="vipsection?id=429"><img src="images/360pic.gif" width="127" height="62" /></a></p>
                        <p><a href="vipsection?id=428"><img src="images/qqpic.gif" width="127" height="62" /></a></p>
                        <p><a href="vipsection?id=427"><img src="images/blpic.gif" width="127" height="62" /></a></p>
                        <p><a href="vipsection?id=422"><img src="images/hthpic.gif" width="127" height="62" /></a></p>
                        <p><a href="vipsection?id=430"><img src="images/mdpic.gif" width="127" height="62" /></a></p>:W

                    </div>
                </div>
                <div class="brand">
                    <div class="brand_t"><span>品牌商家会员</span><span class="more"></span></div>
                    <div class="brand_c"><a href="agent" target='_blank'>想上这些大品牌商品？</a></div>
                    <div class="brand_f">
                        <p><a href="####" target='_blank'><img src="images/index_kangbite.gif" width="120" height="44" /></a></p>
                        <p><a href="product_621.html" target='_blank'><img src="images/index_geli.gif" width="120" height="44" /></a></p>
                        <p><a href="product_700.html" target='_blank'><img src="images/index_hongxing.gif" width="120" height="44" /></a></p>
                        <p><a href="product_723.html" target='_blank'><img src="images/index_jiuyang.gif" width="120" height="44" /></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="f"></div>
    </div>
