body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,label,dd,dt,dl,p,span{margin:0;padding:0}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:left}
ul,li,ol{list-style:none}h2{font-size:14px}
div{margin:0;padding:0;}
img{border:none}a{text-decoration:none}
.clear{clear:both}

#top{width:100%;height:30px;line-height:30px;background:url(../../../images/bg_1.gif) repeat-x left;color:#666;margin-bottom:10px}
#top .topc{margin:0 auto;width:1024px;height:30px}
#top span.welcome{width:400px;float:left;}
#top span.right{float:right;padding-top:5px;height:25px;line-height:25px}
#top span.right a{color:#666;}

#box{width:1024px;margin:0 auto}
#header{width:1024px;height:85px;margin-bottom:20px;position:relative}
#header .logo{float:left;height:85px;width:200px;}
#header .lt{
	color:#000;
	height:20px;
	text-align:left;
	width:120px;
	font-family:"黑体";
	font-size:18px;
	position:absolute;
	left:177px;
	top:49px;
    font-weight: bold;
}
#header .rt{width:684px;height:85px;float:right;}

#content{width:1024px;clear:both;height:735px;margin-bottom:10px}
#content .wt{width:150px;float:left;margin-right:10px}
#content .wt .account{width:150px;height:92px;margin-bottom:10px}
#content .wt .commodity{width:150px;height:122px;margin-bottom:10px}
#content .wt .sms{width:150px;height:72px;}
#content .wt .account .hd,#content .wt .commodity .hd,#content .wt .sms .hd{width:150px;height:30px;margin-bottom:5px;background:url(../../../images/bsbg_1.gif) no-repeat center top;font-size:14px;font-weight:bold;color:#fff;line-height:30px;text-align:center}
#content .wt .account .fd{width:146px;height:54px;border:1px solid #d1e6f1;}
#content .wt .commodity .fd{width:146px;height:83px;border:1px solid #d1e6f1;}
#content .wt .sms .fd{width:146px;height:33px;border:1px solid #d1e6f1;}
#content .wt .account .fd ul,#content .wt .commodity .fd ul,#content .wt .sms .fd ul{float:left;width:138px;padding-left:8px}
#content .wt .account .fd ul li,#content .wt .commodity .fd ul li,#content .wt .sms .fd ul li{float:left;width:123px;height:25px;line-height:25px;background:url(../../../images/bsbg_2.gif) no-repeat left center;padding-left:15px}
#content .wt .account .fd ul li a,#content .wt .commodity .fd ul li a,#content .wt .sms .fd ul li a{font-size:14px;color:#000;}
#content .wt .account .fd ul li a:hover,#content .wt .commodity .fd ul li a:hover,#content .wt .sms .fd ul li a:hover{color:#03F}
#content .et{width:862px;float:right;border:1px solid #d4d4d4;}


#content .et{width:862px;float:right;border:1px solid #d4d4d4;}
#content .et .tsfw .hd{width:850px;height:30px;line-height:30px;padding-left:12px;background:url(../../../images/bsbg_4.gif) repeat-x;color:#338ccc;font-size:14px;font-weight:bold;margin-bottom:10px}
#content .et .tsfw .fd{width:862px;}
#content .et .tsfw .fd form{width:862px;float:left}
#content .et .tsfw .fd form .bd{width:862px;height:40px;}
#content .et .tsfw .fd form .ja{width:862px;height:110px;}
#content .et .tsfw .fd form label{width:115px;float:left;height:40px;line-height:30px;text-align:right;color:#000;font-size:13px}
#content .et .tsfw .fd form label.ll{width:260px;float:left;height:40px;line-height:30px;text-align:left;color:#888;font-size:12px}
#content .et .tsfw .fd form label.lx{width:260px;float:left;height:50px;line-height:20px;text-align:left;color:#888;font-size:12px}
#content .et .tsfw .fd form input{width:240px;float:left;height:17px;line-height:17px;margin:3px 5px 10px 0}
#content .et .tsfw .fd form select{width:120px;float:left;margin:5px 5px 0 0;}
#content .et .tsfw .fd form textarea{width:450px;float:left;margin-right:5px;height:95px}
#content .et .tsfw .fd .an{width:608px;height:40px;float:left;padding-left:254px}
#content .et .tsfw .fd .an input{width:97px;height:33px;float:left;background:url(../../../images/bsbg_5.gif) no-repeat top;color:#fff;font-weight:bold;font-size:16px;margin-right:50px;border:none;cursor:pointer}
#content .et .tsfw .fd .an input.cz{width:97px;height:33px;float:left;background:url(../../../images/bsbg_5.gif) no-repeat bottom;color:#fff;font-weight:bold;font-size:16px;margin-right:none}
#bottom{width:814px;padding-left:210px;background:#e5e5e5;border-top:1px solid #ccc;overflow:hidden;clear:both;margin-top:10px}
#bottom p{clear:both;width:590px;background:#f1f1f1;line-height:150%;text-align:center;color:#b7b7b7;padding:10px 0 10px 0;}
#bottom p a{color:#b7b7b7;
}
