#home_contact dl dt .contact{line-height:150%;margin:10px 0 0 0;clear:both;}
#home_contact dl dt .contact a{float:none;width:82px;height:34px;padding:0;}
#home_contact dl dt .contact a img {border:0;float:none;height:34px;margin:0;width:82px;}