<div id="supply">
  <div class="provide"><div id="current_location">发布供应商品</div><div style="float:right;"></a><a href="#">2.提交成功</a><span>--></span><a href="#" style="font-size:13px;font-weight:bold;">1.填写产品信息</a></div></div>
  <div class="referral">发布您的产品供应信息（本地商品、精品网货、更多产品），优质渠道商将可以迅速找到您的信息，主动与您联系洽谈。</div>
  <span class="referral" style="color:red;">为了保证数据的安全性，请您在30分钟内，完成填写并提交！</span>
  <div class="threebutton">
      <button type="button" onclick="location.href='local'" >发布本地商品</button>
      <button type="button" onclick="location.href='releasenets'">发布精品网货</button>
  </div>
</div>
