<?php
$list    = $__p__['list_data'];
$count   = $__p__['count_data'];
$page    = $__p__['page'];
?>
<div class="govern" id="member" style="width:848px;">
    <div class="issue"><div id="current_location">渠道商管理</font></div></div>
    <div class="material"><p>一共有<font color=red><?php echo $count;?></font>个渠道商</p></div>
    <div class="option">
        <div class="global" style="width:800px">
            <span class="wid120">用户名</span>
            <span class="wid120" >企业名称</span>
            <span class="wid120">企业联系人</span>
            <span class="wid120">手机号</span>
            <span class="wid120">地区</span>
            <span class="wid120">主营范围</span>
            <span class="wid120">产品关键字</span>
            <span class="wid120">推送过的商品</span>
            <span class="wid90">商品管理</span>
        </div>
          <div class="choice">
    <?php
    if(!empty($list)) {
        foreach($list as $v) {

        $time = strtotime($v['DateInserted']);
        $time = date('Y-m-d',$time);

        $type = '供货商';
        if($v['UserType']==1) {
            $type = '渠道商';
        } 
echo <<<EOF
        <ul id="{$v['UserID']}" style="width:800px">
            <li class="wid120"">{$v['Name']}</li>
            <li class="wid120">{$v['CompanyName']}</li>
            <li class="wid120">{$v['contact_name']}</li>          
            <li class="wid120">{$v['UserTel']}</li>
            <li class="wid120">{$v['pname']}{$v['area_name']}</li>
            <li class="wid120">{$v['cname']}</li>  
            <li class="mc">{$v['key']}</li>
            <li class="wid90"><a href="/user/usermaterial?id={$v['UserID']}">查看</a></li>
            <li class="wid90"><a href="/user/pushed?id={$v['UserID']}">管理</a></li
    </ul>
EOF;
}}
?>
        </div>
<div class="global" style="width:800px;text-align:center">
<?php   echo $page->show(4);    ?> 
  </div>
  <div style="clear:both;width:100%;height:20px;"></div>
</div>

