    <div class="et">
            <div class="tsfw">
                <div class="hd">修改密码</div>
                <div class="fd">
                    <form method="post" action="vippassword?action=password" name="form">
                        <div class="bd">
                        <label>旧密码：</label>
                        <input type="password" name="old_pass" value="" />
                        
                        </div>
                        <div class="bd">
                        <label>新密码：</label>
                        <input type="password" name="news_pass" value="" />
                        <label class="ll">建议采用易记、难猜的6-16个英文数字组合</label>
                        </div>
                        <div class="bd">
                        <label>请确认新密码：</label>
                        <input type="password" name="again_pass" value=""/>
                        </div>
                    <div class="an">
                        <input type="submit" name="" value="修 改"  class="conserve"/>
                    </div>
                    </form>
                    <p class="error" ></p>
                </div>
            </div>
            <div class="tsq"></div>
        </div>
    </div>
    <div id="bottom">
        <p style="padding-bottom:0;"><a target="_self" href="contact">联系我们</a><span>&nbsp;|&nbsp;</span><a target="_self" href="profile">公司简介</a><span>&nbsp;|&nbsp;</span><a target="_self" href="http://www.101xd.com/">团购供货找101兄弟</a><span>&nbsp;|&nbsp;</span><a title="站长统计" target="_blank" href="http://www.cnzz.com/stat/website.php?web_id=3240185">站长统计</a></p>
  <p>ICP备案：鄂ICP备10207590号</p>
</div>
</div>
