<div id="friedlink" >
        <div class="hd">&nbsp;</div>
        <div class="bd">
            <div class="wt">友<br>情<br />链<br />接</div>
            <div class="et">
                <div class="bg">&nbsp;</div>
                <div class="link">
                    <a href="http://www.dae365.com" target='_blank'>大鹅团</a>
                    <a href="http://www.rituan.net" target='_blank'>日团网</a>
                    <a href="http://www.imeitao.com" target='_blank'>美淘网</a>
                </div>
            </div>
        </div>
        <div class="fd">&nbsp;</div>
    </div>
