<div id="registerstep">
        <div class="start">免费注册101兄弟--网上渠道聚集地，新的商机从这里开始！
            <span style="font-size:14px;font-weight:normal">若您已是会员，请<a href="#" style="color:#F00;font-weight:bold">[登录]</a></span></div>
        <div class="type">
          <span>请先选择注册会员的类型：</span>
          <span class="sj"><input type="submit" value="我是渠道商" name="" /><input type="submit" value="我是供货商" name="" /></span>
        </div>
        <div class="superiority">   
            <div class="hd">入驻101兄弟的优势和特点：
                <div class="jiao"><img src="images/rsicon_1.gif" width="8" height="5" /></div>
            </div>
            <div class="fd">
                <div class="wt"></div>
              <div class="ct">
                   <span style="font-weight:bold">1、</span>符合您要求的优质商品推送到您的会员管理中心。<br />
                   <span style="font-weight:bold">2、</span>免费开通企业专页，提高企业形象，获得更多生意机会。<br />
                   <span style="font-weight:bold">3、</span>增加企业的外部链接，为网站导入流量。
              </div>
                <div class="et"></div>
            </div>
      </div>
        <div class="basic">
          <div class="hd">会员基本信息：
            <div class="jiao"><img src="images/rsicon_1.gif" width="8" height="5" /></div>
          </div>
          <div class="fd">
            <form action="" method="post">
              <ul>
                  <li><span>用户名：</span><input type="text" value="" name="username" />
                      <span class="bt">必填</span>
                      <span style="display:none"></span>
                   </li>
                   <li><span>企业名称：</span><input type="text" value="" name="usercom" class="ch"/>
                       <span class="bt">必填</span>
                       <span style="display:none"></span>
                   </li>
                   <li><span>登录密码：</span><input type="password" value="" name="userpass" />
                       <span class="bt">必填</span>
                       <span style="display:none"></span>
                   </li>
                   <li><span>请再次输入密码：</span><input type="password" value="" name="userpassconf" />
                       <span class="bt">必填</span>
                       <span style="display:none"></span>
                   </li>
                   <li><span>电子邮箱：</span><input type="text" value="" name="email" />
                       <span class="bt">必填</span>
                       <span class="green" style="display:none"><img src="images/rsicon_2.gif" width="14" height="14" /></span>
                       <span class="blue">
                          <img src="images/rsicon_3.gif" width="14" height="14" />
                          邮箱是您找回密码的方式之一，请您正确填写。
                       </span>
                       <span class="red" style="display:none">
                          <img src="images/rsicon_4.gif" width="14" height="14" />
                          邮箱格式有误。
                      </span>
                   </li>
                   <li><span>手机号：</span>
                       <input type="text" value="" name="phone" /><span class="bt">必填</span>
                       <input type="submit" value="免费获取验证码" name="" class="yz"/>
                       <input type="submit" value="重发验证短信[59]" name="" class="cy"/>
                       <span class="green" style="display:none"><img src="images/rsicon_2.gif" width="14" height="14" /></span>
                       <span class="blue td">
                          <img src="images/rsicon_3.gif" width="14" height="14" />
                          请填写验证短信中的验证码。
                       </span>
                       <span class="red" style="display:none">
                          <img src="images/rsicon_4.gif" width="14" height="14" />
                          验证码输入有误。
                      </span>
                   </li>
                   <li class="treaty">会员资料一经提交，即表示您已同意我们的<a href="#">用户协议</a></li>
                   <li class="regist"><input type="submit" value="免费注册 " name="" class="zc"/></li>
                </ul>
                </form>
            </div>
      </div>
    </div>
