<?php 
$channel_count  = $__p__['channel_count'];
?>
<div id="serve">
        <div class="hd">&nbsp;</div>
        <div class="bd">
            <div class="wt">
                <div id="KinSlideshow" style="visibility:hidden;"> 
                    <a href="http://www.101xd.com" target="_blank"><img src="images/index_banner2.jpg" alt="101兄弟网商渠道聚集地" width="680" height="285" /></a>
                    <a href="http://www.101xd.com/agent" target="_blank"><img src="images/index_banner.jpg" alt="渠道商快速供货服务 全面启动！" width="680" height="285" /></a>
                </div>
            </div>
            <div class="et">
              <h2>101渠道商快速供货服务</h2>
                <ul>
                    <li class="g">告别：找货难、人力成本等问题</li>
                    <li class="g">提升销售额</li>
                    <li class="help">
                        <span>帮您做到：</span><br />
                    　　 1、丰富、优质的在地商家！<br />
                   　　 2、协助寻找认证合格商品！<br />
                   　　 3、提供最热销的商品套餐！
                    </li>
                    <li>已有 <span style="font-weight:bold;color:#F00"><?php echo $channel_count; ?></span> 家渠道商体验了该服务。</li>
                    <li class="an">
                        <input type="submit" name="" value="体验服务" onclick='location.href="agent";' />
                        <input type="submit" name="" value="我要供货" onclick='location.href="login?action=fabu";' />
                    </li>
                </ul>
            </div>
        </div>
        <div class="fd"></div>
    </div>
